.Navbar {
    background-color: #1c202e;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #464a58;
}
.header {
    height: 60px;
    padding: 0px 29px;
    display: flex;
    align-items: center;
    background-color: #1c202e;
    border-bottom: 1px solid #464a58;
}
.header_right {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.safe {
    padding: 0 10px;
}
.balance {
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
}
.open_real {
    padding-left: 10px;
    padding-right: 10px;
}
.profile_btn {
    margin-left: 15px;
    margin-right: 15px;
}
.fav_list {
    overflow-x: scroll;
    display: flex;
    align-items: center;
    height: 41px;
    position: relative;
}
.Nav_left {
    background-color: #1e2131;
    height: calc(100vh - 101px);
    max-width: 90px;
}
/* Trade_nav_right */
.Trade_nav_right {
    position: absolute;
    background-color: #1e2131;
    right: 0;
    height: calc(100vh - 101px);
    max-width: 90px;
}
/* trade */

@media (max-width: 900px) {
    .profile_btn {
        display: none;
    }
    .Nav_left {
        display: none;
    }

    .Trade_nav_right {
        position: fixed;
        height: unset;
        min-width: 100%;
        right: unset;
        bottom: 0;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 660px) {
    .header {
        padding: 0 10px;
    }
}
